.container{
    min-height: 500px;
    width: 1000px;
    vertical-align: top;
}
.pokedex{
    height: 500px;
    width: 250px;
    border: red solid 10px;
    display: inline-block;
    vertical-align: top;
    position: absolute;;
}
.pokemon{
    display: inline-block;
    width: 75%;     
}
.img{
    width: 700px;
    height: 700px;
    overflow-y: scroll;
}

